In [1]:
import pandas as pd

In [2]:
# load in GTEx eQTLs
gtex = pd.read_csv('/data5/16p12_RNA/GTEx/data/GTEx_Analysis_v7_eQTL/Cells_EBV-transformed_lymphocytes.v7.signif_variant_gene_pairs.txt.gz', sep='\t')

In [16]:
# create df for annovar input
# has columns:
# chrom	start	end	ref	alt

# get chrom
gtex['chrom'] = gtex.variant_id.apply(lambda s: 'chr' + s.split('_')[0])

# get start
gtex['start'] = gtex.variant_id.apply(lambda s: int(s.split('_')[1]))

# get ref
gtex['ref'] = gtex.variant_id.apply(lambda s: s.split('_')[2])

# get alt
gtex['alt'] = gtex.variant_id.apply(lambda s: s.split('_')[3])

# get length ref
gtex['length_ref'] = gtex.ref.apply(lambda s: len(s))

# get end
gtex['end'] = gtex['start'] + gtex['length_ref'] - 1

# keep only columns annovar needs
df = gtex[['chrom', 'start', 'end', 'ref', 'alt']]

In [19]:
# save df
df.to_csv('gtex_eqtls_annovar_input.tsv', sep='\t', index=False, header=None)

In [17]:
df

       chrom      start        end ref alt
0       chr1    1511837    1511837   C   G
1       chr1     710088     710088   C   A
2       chr1     710195     710195   A   G
3       chr1     712515     712515   T  TC
4       chr1     713092     713092   G   A
...      ...        ...        ...  ..  ..
287273  chrX  155230932  155230932   A   G
287274  chrX  155232838  155232838   A   C
287275  chrX  155233098  155233098   T   C
287276  chrX  155234730  155234730   T   C
287277  chrX  155236723  155236723   A   G

[287278 rows x 5 columns]